<% layout("/layouts/boilerplate") %>
<body>
    <section class="bg-primary text-white text-center p-5">
        <div class="container">
            <h1>Welcome to My Website</h1>
            <p class="lead">This is a random home page.</p>
        </div>
    </section>
</body>